{{- $machine_type := promptChoiceOnce . "machine_type" "Machine type (work: 회사 맥북, personal: 개인 맥북, server: Linux 개발서버)" (list "work" "personal" "server") }}

sourceDir = "{{ .chezmoi.sourceDir }}"

[data]
  machine_type = "{{ $machine_type }}"

[edit]
  apply = true

[git]
  autoCommit = true
  autoPush = true
